<%= stylesheet_link_tag 'contents_search'  %>
<script language="javascript">
  function all_check(check){
    var count;
    for(count = 0; count < document.getElementsByName("to_add_book[]").length; count++){
      document.getElementsByName("to_add_book[]")[count].checked = check;
    }
  }

  function add_book(){
    var a = document.getElementById("add_book_to");
    if (a.value == "new") {
      ret = this.open("/search/new_book/", "CtrlWindow"
                     ,"toolbar=0, menubar=0, location=0, scrollbars=0, resize=0, width=800, height=470");
    }
  }
</script>
<div id="screen_title">検索結果</div>
<% if @user_name %>
  <div id="user_searches">
    <%= link_to("問題", { :controller => :search, :action => :users_question, :id => @user_name }) %> | 
    <%= link_to("ブック", { :controller => :search, :action => :users_book, :id => @user_name }) %> | 
    <%= link_to("テスト", { :controller => :search, :action => :users_exam, :id => @user_name }) %>
  </div>
<% end %>
<% remote_form_for :question,:url=>{:action => 'add_book'} do -%>

  <% if @flg == 0 && @results.size >= 1 && logged_in? %>
    <div class="add_book">
      <div style="float:right;">
        <span id="bookmark">
          <%= render :partial => "bookmark", :locals => {:question_id => @results,
                                                    :is_bookmark => @is_bookmark_all,
                                                    :results => @results} %>
        </span>
        <div class="add_book_form">
          選択した問題をブックに追加
          <% books = Book.find(:all, :conditions => ["user_id = ? and name != '自分で登録した問題' and is_smart != 1",
                                                 current_user.id])%>
          <select id="add_book_to" name="add_book_to" onchange='add_book()'>
            <option value=''>選択されていません</option>
            <option value='' disabled>------------------------</option>
            <option value='new'>新規ブックを作成</option>
            <option value='' disabled>------------------------</option>
            <% books.each do |book| %>
              <%= "<option value='#{book.id}'>#{h(book.name)}</option>" %>
            <% end %>
          </select>
          <%= submit_tag '登録',
                     :class => 'button'%>
        </div>
        <span id="add_book_message_all"></span>
      </div>
      <div class="to_add_book_controller">
        <%= button_to_function '全て選択','all_check(true);' %>
        <%= button_to_function '全て解除','all_check(false);' %>
      </div>
    </div>
  <% end %>

  <div id="main">
    <div id="result_box">
      <div id="result_header">
      <%=h @result_text %>：
      <% if @results.total_entries != 0 %>
        <%= @results.total_entries %>件中<%= @results.offset + 1 %>～<%= [@results.offset + @results.per_page, @results.total_entries].min %> 件の検索結果</div>
      <% else %>
        0件の検索結果
      <% end %>
      <% if @results.total_entries != 0 %>
        <div id="result_table">
        <ul>
          <% @results.each do |result| %>
            <% if @flg == 0 %>
              <div class="question_text">
                <li><%= link_to(truncate(h(result.question_text), 30),
                             "/quiz/#{result.id}", :title => h(result.question_text.gsub("<br />", "\n"))) %>
                  <% if logged_in? %>
                    <% @is_bookmark = Bookmark.find(:first, :conditions => ["question_id = ? and user_id = ?",
                                                                      result.id,
                                                                      current_user.id]) %>
                    <% @question_id = result.id %>
                    <span id="bookmark<%= @question_id %>">
                      <%= render :partial => "bookmark", :locals=>{:question_id => @question_id,
                                                             :is_bookmark => @is_bookmark,
                                                             :results => @results} %>
                    </span>
                  <% end %>
                </li>
              </div>

              <% if logged_in? %>
                <div class="add_book">
                  <div class="add_book_form">
                    ブックに追加
                    <%= check_box_tag("to_add_book[]", result.id ) %>
                  </div>
                </div>
              <% end %>
              <div class="tags">
                <%= image_tag "tag_blue.png" %>：
                <% if result.tag_list.size > 0 %>
                  <% result.tag_list.map do |t| %>
                    <%= link_to(h(t), { :controller => :search, :action => :tag, :id => t }, :class => "tag") %>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </div>
              <div class="user">
                <% if user = User.find(:first, :conditions => ["id = ?",result.user_id]) %>
                  <%= image_tag "user.png" %>：<%= link_to(h(user.login), { :controller => :search, :action => :users_question, :id => user.login }, :class => "tag") %>
                <% else %>
                  <%= image_tag "user.png" %>：-
                <% end %>
              </div>
              <div class="book_and_test">
                <%= link_to "この問題を含むブックを検索する", :action => 'search_book', :id => result.id %> - 
                <%= link_to "この問題を含むテストを検索する", :action => 'search_exam', :id => result.id %>
              </div>
              <div class="border"></div>


            <% elsif @flg == 1 %>
              <li>
                <%= link_to(truncate(h(result.name), 30),
                         :action => 'tag',:id => result.name) %></li>

              <div class="book_and_test">
                <%= link_to "このタグを含むスマートブックを検索する", :action => 'search_smart_book', :id => result.id %>
              </div>
              <div class="border"></div>


            <% elsif @flg == 2 %>
              <li>
                <%= link_to(truncate(h(result.name), 30),
                         "/books/#{result.id}") %>
                <% if result.is_smart == true %>
                  <span class="smart">(スマートブック)</span>
                <% end %>

                <span class="add_mycontents">
                  <div class="add_mycontents_form">
                    <% if result.user_id != current_user.id %>
                      <%= link_to_remote(image_tag('/images/book_play.png',
                                              :style => 'border: none;',
                                              :title => 'この問題集をマイブックに追加する'),
                                     :url => {:action => 'add_mybook', :id => result.id})%>
                    <% end %>
                  </div>
                  <span id="add_mycontents_message<%=result.id%>"></span>
                </span>
              </li>

              <% if result.is_smart == true %>
                <div class="tags">
                  <%= image_tag "tag_blue.png" %>：
                    <% tags = result.tags.split(",") %>
                  <% if tags.size > 0 %>
                    <% tags.map do |t| %>
                      <%= link_to(h(t), { :controller => :search, :action => :tag, :id => t }, :class => "tag") %>
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </div>
                <div class="tags">
                  <%= image_tag "folder.png" %>：
                  <% categories = result.categories.split(",") %>
                  <% if categories.size > 0 %>
                    <% categories.map do |c| %>
                      <% c_id = Category.find(:first, :conditions => ["name = ?",c]).id %>
                      <%= link_to(h(c), { :controller => :search, :action => :category, :id => c_id }, :class => "tag") %>
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </div>
              <% end %>
              <div class="user">
                <% if user = User.find(:first, :conditions => ["id = ?",result.user_id]) %>
                  <%= image_tag "user.png" %>：<%= link_to(h(user.login), { :controller => :search, :action => :users_question, :id => user.login }, :class => "tag") %>
                <% else %>
                  <%= image_tag "user.png" %>：-
                <% end %>
              </div>
              <div class="outline_and_notes">
                <%= result.outline %>
              </div>
              <div class="border"></div>


            <% elsif @flg == 3 %>
              <li>
                <%= link_to(truncate(h(result.name), 30),
                         "/exams/#{result.id}") %>
                <span class="add_mycontents">
                  <div class="add_mycontents_form">
                    <% if result.user_id != current_user.id %>
                      <%= link_to_remote(image_tag('/images/book_play.png',
                                              :style => 'border: none;',
                                              :title => 'このテストをマイテストに追加する'),
                                     :url => {:action => 'add_myexam', :id => result.id})%>
                    <% end %>
                  </div>
                  <span id="add_mycontents_message<%=result.id%>"></span>
                </span>
              </li>
              <div class="user">
                <% if user = User.find(:first, :conditions => ["id = ?",result.user_id]) %>
                  <%= image_tag "user.png" %>：<%= link_to(h(user.login), { :controller => :search, :action => :users_question, :id => user.login }, :class => "tag") %>
                <% else %>
                  <%= image_tag "user.png" %>：-
                <% end %>
              </div>
              <div class="outline_and_notes">
                <%=h result.notes %>
              </div>
              <div class="border"></div>
            <% end %>
          <% end %>
          <div id="pagenate"><%= will_paginate(@results,
                                         :prev_label=>'&#171;前', :next_label=>'次&#187;',
                                         :params => {:conditions => @conditions,:search_for => @flg,:searchtype => @searchtype}) %></div>
        </ul>
      <% else %>
        <div id="result_table">
          <div style="text-align: center;"><%=h @result_text %>は見つかりませんでした。</div>
        </div>
      <% end %>
    </div>
  </div>
<% end -%>