<div id="main">
<div class="result"><%=h @result_text %></div>
  <div id="description_box">
    <div id="descriptions" <%= "style='display:none;'" if @is_collect != "1"%>>
      <div class="subtitle">解説</div>
      <% desc = @description.description_text %>
      <% if desc == ""  %>
        <% desc = "解説はありません" %>
      <% end %>
      <div class="question"><%=qa desc %></div>

      <div class="spacer_narrow">&nbsp;</div>

      <div class="subtitle">問題</div>
      <div class="question"><%=qa @question.question_text %></div>

      <div class="spacer_narrow">&nbsp;</div>

      <div class="subtitle">正解</div>
      <div class="question"><%=qa @answer %></div>

    </div>
    <% if @is_collect != "1" %>
      <div id="description_open" onclick="Effect.toggle('descriptions', 'slide',{ duration: 0.5 });
                                          document.getElementById('description_open').style.display = 'none';
                                          document.getElementById('description_close').style.display = 'block';">
      （解説と解答を表示する）
      </div>
      <div id="description_close" onclick="Effect.toggle('descriptions', 'slide',{ duration: 0.5 });
                                          document.getElementById('description_close').style.display = 'none';
                                          document.getElementById('description_open').style.display = 'block';"
                                 style="display:none;">
      （解説と解答を閉じる）
      </div>
    <% end %>
  </div>
  <div class="spacer_narrow">&nbsp;</div>

  <div id="navi">
    <%= link_to_remote '問題に戻る', :update => 'question', :url => {:action => 'back', :questions =>@questions, :i => @i+1,:id => @id} %>
  </div>
  <div class="spacer_narrow">&nbsp;</div>
</div>