<%= stylesheet_link_tag "style_book_detail" %>
<script language="javascript">
  function mypage() {
    location.href="../../";
  }
</script>
<div id="screen_title">ブックの編集</div>
<div id="message"></div>
<div id="main">
<% remote_form_for(@book) do |f| %>
  <%= f.error_messages %>
  <div id="name_public_field">
    <div class="field">
      <%= f.label "ブック名" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "公開可否" %><br />
      <%= f.radio_button(:is_public, 1) %>：公開
      <%= f.radio_button(:is_public, 2) %>：非公開
    </div>
  </div>
  <div id="outline_field">
    <div class="field">
      <%= f.label "概要" %><br />
      <%= f.text_area :outline , :style => 'height: 10em;'%>
    </div>
  </div>
  <div id="submit_box">
    <%= f.submit "更新する" %>
  </div>
<% end %>
</div>