<%= stylesheet_link_tag "style_book_detail" %>
<script type="text/javascript" src="/javascripts/suggest.js"></script>
<script language="javascript">
  function add_conditions(str){
  if (str == "categories") {
    a = "category";         //条件追加フォーム
    b = "select_categories"; //条件確認フォーム
    c = "categories";       //コントローラーへ送るフォーム
  } else if (str == "tags") {
    a = "text";            //条件追加フォーム
    b = "select_tags";      //条件確認フォーム
    c = "tags";            //コントローラーへ送るフォーム
  } else {
    a = "";
    b = "";
    c = "";
  }
  addText = document.getElementById(a).value;
  addValue = document.getElementById(a).value;
  if (addText != "") {
    options = document.getElementById(b).options.text;
    document.getElementById(b).options[document.getElementById(b).options.length] = new Option(addText, addValue);
    values = document.getElementById(c).value;
    document.getElementById(c).value = values.concat(",".concat(addText));
  }}

  function del_conditions(str){
  if (str == "categories") {
    a = "select_categories"; //条件確認フォーム
    b = "categories";       //コントローラーへ送るフォーム
  } else if (str == "tags") {
    a = "select_tags";      //条件確認フォーム
    b = "tags";            //コントローラーへ送るフォーム
  } else {
    a = "";
    b = "";
  }
  if (document.getElementById(a).selectedIndex != -1) {
    idx = document.getElementById(a).selectedIndex;
    val = document.getElementById(a).options[idx].value;
    document.getElementById(b).value = document.getElementById(b).value.replace(val, "")
    document.getElementById(a).options[idx] = null;
  }
  }

  function startSuggest() {
  var tag_list = [
    <% @tags.each do |tag| -%>
      "<%= tag.name %>",
    <% end -%>
   ""
  ];
  new Suggest.LocalMulti(
        "text",    // 入力のエレメントID
        "suggest", // 補完候補を表示するエリアのID
        tag_list,      // 補完候補の検索対象となる配列
        {dispMax: 10, interval: 100}); // オプション
}
    window.addEventListener ?
    window.addEventListener('load', startSuggest, false) :
    window.attachEvent('onload', startSuggest);
</script>
<div id="screen_title">ブックの新規作成</div>
<div id="message"></div>
<div id="main">
  <% remote_form_for(@book) do |f| %>
    <%= f.error_messages %>
    <div id="name_public_field">
      <div class="field">
        <%= f.label "ブック名" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label "公開可否" %><br />
        <%= f.radio_button(:is_public, 1) %>：公開
        <%= f.radio_button(:is_public, 2) %>：非公開
      </div>
    </div>
    <div id="outline_field">
      <div class="field">
        <%= f.label "概要" %><br />
        <%= f.text_area :outline, :style => 'height: 10em;' %>
      </div>
    </div>

    <div class="field" style="clear:both;">
      <%= f.check_box(:is_smart, :onclick =>"Effect.toggle('smart_field', 'slide',{ duration: 0.5 });" ) %>スマートブックにする
    </div>
    <div id="smart_field" style="display:none;">

      <div id="categories_box">
        <div class="search_field">
          <%= f.label "カテゴリ" %><br />
          <%= select_tag('category',
                       options_from_collection_for_select(@categories, :name, :name),
                       :size => 4,
                       :onDblClick => 'add_conditions("categories");return false;') %>
        </div>
        <div class="search_button">
          <div>&nbsp;</div>
          <%= button_to_function("追加",
                      "追加",
                      :onclick => 'add_conditions("categories");return false;') %>
        </div>
        <div class="search_field">
          <div>&nbsp;</div>
          <%= f.hidden_field :categories, :id => "categories" %>
          <select id="select_categories" size="4" style="width:150px;" onDblClick='del_conditions("categories");return false;'>
          </select>
        </div>
        <div class="search_button">
          <div>&nbsp;</div>
          <%= button_to_function("削除",
                      "削除",
                      :onclick => 'del_conditions("categories");return false;') %>
        </div>
      </div>

      <div id="tags_box">
        <div class="search_field">
          <%= f.label "タグ名" %><br />
          <input id="text" type="text" size="20" />
          <div id="suggest"></div>
        </div>
        <div class="search_button">
          <div>&nbsp;</div>
          <%= button_to_function("追加",
                      "追加",
                      :onclick => 'add_conditions("tags");return false;') %>
        </div>
        <div class="search_field">
          <div>&nbsp;</div>
          <%= f.hidden_field :tags, :id => "tags" %>
          <select id="select_tags" size="4" style="width:150px;" onDblClick='del_conditions("tags");return false;'>
          </select>
        </div>
        <div class="search_button">
          <div>&nbsp;</div>
          <%= button_to_function("削除",
                      "削除",
                      :onclick => 'del_conditions("tags");return false;') %>
        </div>
      </div>
    </div>
    <div id="submit_box">
      <%= f.submit "作成する" %>
    </div>
  <% end -%>
</div>
