<div id="main">
  <%= stylesheet_link_tag 'basic' %>
  <%= stylesheet_link_tag 'style_book_detail'  %>
  <h1 class="this_book_title">
    『<%=h @book.name %>』
    <% if logged_in? %>
      <% if @book.user_id == current_user.id && @book.name != "自分で登録した問題"%>
        <%= link_to(image_tag('/images/book_edit.png',
                           :style => 'border: none;',
                           :title => 'このブックを編集する'),
                           edit_book_path(@book))%>
      <% elsif @book.user_id != current_user.id %>
        <%= link_to_remote(image_tag('/images/book_play.png',
                                 :style => 'border: none;',
                                 :title => 'この問題集をマイブックに追加する'),
                       :url => {:action => 'add_mybook', :id => @book.id})%>
      <% end %>
      <%= link_to(image_tag('/images/book_play.png',
                :style => 'border: none;',
                :title => 'この問題集からテストを作成する'),
                :controller => 'exams', :action => 'new', :id => @book.id)%>
    <% end %>
  </h1>
  <div id="add_mybook_message"></div>
  <div class="spacer_narrow" style="clear: both;">&nbsp;</div>
  <div id="this_book_information">
    <h2 class="subtitle">ブック情報</h2>
    <table cellpadding="5" cellspacing="0" border="1">
      <tr><td>問題数</td><td class="number"><%=h @book.questions.size %> 問</td></tr>
      <tr><td>ブックの公開</td><td class="string"><%=h @book.is_public == 1 ? "公開" : "非公開" %></td></tr>
    </table>
    <h2 class="subtitle">概要</h2>
    <div id="outline"><%= hbr @book.outline %></div>
    </table>
  </div>

  <div id="this_book_questions">
    <h2 class="subtitle">このブックの問題一覧</h2>
    <ul class="question_list">
      <% @book.questions.each do |question| %>
        <li class="question_text">
          <%= image_tag('/images/quiz.png', :style => 'border: none') %>
          <%= link_to(truncate(erase_tag(question.question_text), 40),
                   "/quiz/#{question.id}") %>
          <% if logged_in? %>
            <% if @book.user_id == current_user.id && @book.name != "自分で登録した問題"%>
              <%= link_to(image_tag('/images/page_delete.png',
                                :style => 'border: none;',
                                :title => 'このブックから削除する'),
                      {:controller => 'books',
                       :action => 'rip',
                       :id => @book.id,
                       :question_id => question.id},
                       :confirm => '本当に削除してよろしいですか?'
                      ) %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="spacer_narrow" style="clear:both">&nbsp;</div>

  <div id="submit_box">
    <% form_tag(:action => 'training_start', :id => @book.id) do -%>
      この問題集から<%= text_field_tag "select_count", "",:style => 'width: 20pt;' %>問抽出し、
      <%= submit_tag "トレーニング" %>
    <% end %>
  </div>
</div>