<%= javascript_include_tag "prototype" %>
<script language="javascript">
  function submit_disabled_check() {
    var flg = 0;
    <% 10.times do |i| %>
      if(document.getElementById("answer[<%= i %>]")){
        if(document.getElementById("answer[<%= i %>]").checked){
          flg = 1;
        }
      }
    <% end %>
    if(flg == 0){
      document.getElementById("submit").disabled = true;
    } else {
      document.getElementById("submit").disabled = false;
    }
  }

  function submit_disabled_select() {
    var flg = 0;
    <% 10.times do |i| %>
      if(document.getElementById("answer[<%= i %>]")){
        if(document.getElementById("answer[<%= i %>]").checked){
          flg = 1;
        }
      }
    <% end %>
    if(flg == 0){
      document.getElementById("submit").disabled = true;
    } else {
      document.getElementById("submit").disabled = false;
    }
  }

  function submit_disabled_text() {
    if(document.getElementById("answer")){
      if(document.getElementById("answer").value == ""){
        document.getElementById("submit").disabled = true;
      } else {
        document.getElementById("submit").disabled = false;
      }
    }
  }

  function timestop() {
    clearInterval(timeID);
  }

</script>

<div id="question">
  <div id="toolbar_box">
  </div>

  <div class="spacer_narrow">&nbsp;</div>

  <% remote_form_for :question, :update => 'quiz', :url => {:action => 'answer', :questions =>@questions, :i => @i, :id => @id} do |f| -%>
    <div id="quiz">
      <div id="main_quiz">
        <div id="question_box_quiz">
          <div id="question_text_box">
            <div class="subtitle">問題</div>
            <%= hidden_field_tag "question_id", @question.id %>
            <div class="field"><%=hbr @question.question_text %></div>
          </div>

          <div class="spacer_narrow">&nbsp;</div>

          <div id="response_box" <%= "style='height:250px;'" if @question.question_type == 3 %>>
            <div class="subtitle" style="margin-left:-10px;">回答</div>
            <%= hidden_field_tag "question_type", @question.question_type %>
            <% if @question.is_random == true %>
              <% selections = @selections.sort_by{rand} %>
            <% else %>
              <% selections = @selections %>
            <% end %>
            <% i = 0 %>
            <% if @question.question_type == 1 %>
              <div id="selection_box">
                <% selections.each do |s| %>
                  <div class="field">
                    <input type="radio" id="answer[<%= i %>]" name="answer"
                           value="<%= s.id %>" style="margin-left:-13px;"/> <%=hbr s.selection_text %>
                  </div>
                  <% i+=1 %>
                <% end %>
              </div>
              <script language="javascript">
              timeID = window.setInterval("submit_disabled_check();",1);
            </script>
            <% elsif @question.question_type == 2 %>
              <div id="selection_box">
                <% selections.each do |s| %>
                  <div class="field">
                    <input type="checkbox" id="answer[<%= i %>]" name="answer[<%= i %>]"
                           value="<%= s.id %>" style="margin-left:-17px;"/> <%=hbr s.selection_text %>
                  </div>
                  <% i+=1 %>
                <% end %>
              </div>
              <script language="javascript">
              timeID = window.setInterval("submit_disabled_select();",1);
            </script>
            <% elsif @question.question_type == 3 %>
              <div id="selection_box">
                <div class="marufield">
                  <%= link_to_remote(image_tag("maru.jpg", :style => 'border: none;',
                                                     :onmouseover=>"this.src='../../images/maru_on.jpg'",
                                                     :onmouseout=>"this.src='../../images/maru.jpg'"),
                                 :url=>{:action => 'answer',
                                        :question_id => @question.id,
                                        :question_type => @question.question_type,
                                        :questions => @questions,
                                        :i => @i,
                                        :id => @id,
                                        :answer => 1},
                                 :update => 'quiz') %>
                </div>
                <div class="batufield">
                  <%= link_to_remote(image_tag("batu.jpg", :style => 'border: none;',
                                                     :onmouseover=>"this.src='../../images/batu_on.jpg'",
                                                     :onmouseout=>"this.src='../../images/batu.jpg'"),
                                 :url=>{:action => 'answer',
                                        :question_id => @question.id,
                                        :question_type => @question.question_type,
                                        :questions => @questions,
                                        :i => @i,
                                        :id => @id,
                                        :answer => 0},
                                 :update => 'quiz') %>
                </div>
              </div>
            <% else %>
              <div id="answer_box">
                <input id="answer" name="answer" type="text" size="30"/>
              </div>
              <script language="javascript">
              timeID = window.setInterval("submit_disabled_text();",1);
            </script>
            <% end %>
          </div>

          <div class="spacer_narrow">&nbsp;</div>

          <div id="submit_box" <%= "style='display:none;'" if @question.question_type == 3 %>>
            <%= submit_tag("回答する",:id => "submit", :class => 'button',:disabled => true) %>
          </div>

          <div class="spacer_narrow">&nbsp;</div>

        </div>

        <div id="question_information_box_quiz">
          <div class="subtitle">分類</div>
          <div class="subsubtitle">カテゴリ</div>
          <div class="field"><%=h @question.category.name %></div>
          <div class="subsubtitle">タグ</div>
          <div class="field">
            <% if @question.tag_list.size > 0 %>
              <% @question.tag_list.map do |t| %>
                <%= link_to(h(t), { :controller => :search, :action => :tag, :id => t }, :class => "tag") %>
              <% end %>
            <% else %>
              -
            <% end %>
          </div>
          <div class="subsubtitle">あなたの正答率</div>
          <div class="field">：<%= @my_reat %>％
          </div>
        </div>

        <div class="spacer_narrow">&nbsp;</div>

      </div>
    </div>
    <div id="command_box">
      <% if @i != 0 %>
        <span onclick = 'timestop();'>
          <%= submit_to_remote("前の問題へ",
                            "前の問題へ",
                           :url=>{:action => 'back',
                                  :questions => @questions,
                                  :i => @i,
                                  :id => @id},
                           :update => 'contents') %></span>
      <% end %>
      <% if @questions.size > @i+1 %>
        <span onclick = 'timestop();'>
          <%= submit_to_remote("次の問題へ",
                            "次の問題へ",
                           :url=>{:action => 'next',
                                  :questions => @questions,
                                  :i => @i,
                                  :id => @id},
                           :update => 'contents') %></span>
      <% end %>
    <% end -%>

      <div id="escape">
        <% book = Book.find(@id) %>
          <%= button_to_function("トレーニング終了",
                             "window.close();") %>
      </div>
    </div>
    <div class="spacer_narrow">&nbsp;</div>

    <div style="text-align:center;"><%= "#{@i+1}/#{@questions.size}" %></div>

</div>
