<div class="subtitle">評価</div>
<%= stylesheet_link_tag("star_rating") %>
<span id="sum_and_avg">合計評価：<%= @sum %>　平均評価：<%= @avg %>　評価回数：<%= @count %></span>
<% if logged_in? %>
  <% eval = Evaluation.find(:all, :conditions => ["question_id = ? and user_id = ?",@question.id,current_user.id]) %>
  <% if eval.size == 0 %>
    <ul class="rating nostar">
      <% 5.times do |i| %>
        <li class="star<%= i+1 %>" onclick="<%= remote_function(:url => {:action=>'evaluation_in', :id => i+1 ,:question_id => @question.id}) %>"><a href="#" title="<%= i+1 %> Star"><%= i+1%></a></li>
      <% end %>
    </ul>
  <% else %>
    <div style="width:400px;position:relative;">
      <ul class="rating nostar">
        <% 5.times do |i| %>
          <li><%= i+1%></li>
        <% end %>
      </ul>
      <span class="evals_disable">評価済みです。</span>
    </div>
  <% end %>
<% else %>
  <div style="width:400px;position:relative;">
    <ul class="rating nostar">
      <% 5.times do |i| %>
        <li><%= i+1%></li>
      <% end %>
    </ul>
    <span class="evals_disable">評価するにはログインしてください。</span>
  </div>
<% end %>