<div class="subtitle">評価</div>
<span id="sum_and_avg">合計評価：<%= @sum %>　平均評価：<%= @avg %></span>
<% if logged_in? %>
  <% eval = Evaluation.find(:all, :conditions => ["question_id = ? and user_id = ?",@question.id,current_user.id]) %>
  <% if eval.size == 0 %>
    <% 10.times do |i| %>
      <span id="eval<%=i%>">
      <img src='../images/hosi_on.gif' onclick="<%= remote_function(:url => {:action=>'evaluation_in', :id => i+1 ,:question_id => @question.id}) %>"></span>
    <% end %>
  <% else %>
  <span style="position:relative;">
    <% 10.times do |i| %>
      <span id="eval<%=i%>">
      <img src='../images/hosi_off.gif'></span>
    <% end %>
    <span style="font-style:oblique;font-size:10pt;position:absolute;left:50px;">評価済みです。</span>
  </span>
  <% end %>
<% else %>
  <span style="position:relative;">
  <span>&nbsp;</span>
    <% 10.times do |i| %>
      <span id="eval<%=i%>">
      <img src='../images/hosi_off.gif'></span>
    <% end %>
    <span style="font-style:oblique;font-size:10pt;position:absolute;left:0px;">評価するにはログインしてください。</span>
  </span>
<% end %>