<%= stylesheet_link_tag("contents_register") %>


<div id="screen_title">解答</div>

<div id="main">
  <div class="result"><%=h @result_text %></div>
  <div id="description_box">
    <div id="descriptions" <%= "style='display:none;'" if @is_collect != "1"%>>
      <div class="subtitle">解説</div>
      <% desc = @description.description_text %>
      <% if desc == ""  %>
        <% desc = "解説はありません" %>
      <% end %>
      <div class="question"><pre class="brush:java;tab-size:1;toolbar:false;"><%=qa desc %></pre></div>

      <div class="spacer_narrow">&nbsp;</div>

      <div class="subtitle">問題</div>
      <div class="question"><%=qa @question.question_text %></div>

      <div class="spacer_narrow">&nbsp;</div>

      <div class="subtitle">正解</div>
      <div class="question"><%=qa @answer %></div>

    </div>
    <% if @is_collect != "1" %>
      <div id="description_open" onclick="Effect.toggle('descriptions', 'slide',{ duration: 0.5 });
                                          document.getElementById('description_open').style.display = 'none';
                                          document.getElementById('description_close').style.display = 'block';">
      （解説と解答を表示する）
      </div>
      <div id="description_close" onclick="Effect.toggle('descriptions', 'slide',{ duration: 0.5 });
                                          document.getElementById('description_close').style.display = 'none';
                                          document.getElementById('description_open').style.display = 'block';"
                                 style="display:none;">
      （解説と解答を閉じる）
      </div>
    <% end %>
  </div>
  <% if @is_collect == "1" %>

    <div class="spacer_narrow">&nbsp;</div>

    <div id="evaluation_box">
      <%= render(:partial => 'evals') %>
    </div>

  <% end %>

  <div class="spacer_narrow">&nbsp;</div>

  <div id="navi">
    <%= link_to '問題に戻る', :back %> | 
    <%= link_to 'トップへ', :controller => 'top' %> | 
    <%= link_to 'マイページへ', :controller => 'mypage' %> | 
    <%= link_to('ランダムQuizy', "/quiz/#{@random}")%>
  </div>

<link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shCore.css" />
<link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shThemeDefault.css" />
<script type="text/javascript" src="/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript">
  SyntaxHighlighter.all();
</script>


</div>
