<%= stylesheet_link_tag("contents_register") %>
<%= stylesheet_link_tag("star_rating") %>
<%= javascript_include_tag "prototype" %>

<script language="javascript">
  function add_book(){
    var a = document.getElementById("add_book_to");
    if (a.value == "new") {
      ret = this.open("/qa/new_book/", "CtrlWindow"
                     ,"toolbar=0, menubar=0, location=0, scrollbars=0, resize=0, width=800, height=470");
    }
  }

  function submit_disabled_check() {
    var flg = 0;
    <% @selections.each do |s| %>
      if(document.getElementById("answer[<%= s.id %>]").checked){
        flg = 1;
      }
    <% end %>
    if(flg == 0){
      document.getElementById("submit").disabled = true;
    } else {
      document.getElementById("submit").disabled = false;
    }
  }

  function submit_disabled_select() {
    var flg = 0;
    <% @selections.each do |s| %>
      if(document.getElementById("answer[<%= s.id %>]").checked){
        flg = 1;
      }
    <% end %>
    if(flg == 0){
      document.getElementById("submit").disabled = true;
    } else {
      document.getElementById("submit").disabled = false;
    }
  }

  function submit_disabled_text() {
    if(document.getElementById("answer").value == ""){
      document.getElementById("submit").disabled = true;
    } else {
      document.getElementById("submit").disabled = false;
    }
  }
</script>
<div id="toolbar_box">
  <% if logged_in? %>
    <div id="add_book_form">
      <% remote_form_for :question,:url=>{:controller => 'qa', :action => 'add_book', :id => @question.id} do -%>
        <div id="add_book">
          マイブック
            <select id="add_book_to" name="add_book_to" onchange='add_book()'>
              <option value=''>選択されていません</option>
              <option value='' disabled>------------------------</option>
              <option value='new'>新規ブックを作成</option>
              <option value='' disabled>------------------------</option>
              <% @books.each do |book| %>
                <%= "<option value='#{book.id}'>#{h(book.name)}</option>" %>
              <% end %>

            </select>
            <%= submit_tag '登録',
                        :class => 'button'%>
        </div>
        <span id="add_book_message"></span>
      <% end -%>
    </div>
    <% if @question.user_id == current_user.id %>
      <div class="question_edit_and_delete">
        <%= image_tag('/images/page_edit.png', :style => 'vertical-align: middle;') %>
        <%= link_to 'この問題を編集', :action => 'edit', :id => @question.id %>
        <%= image_tag('/images/page_delete.png', :style => 'vertical-align: middle;') %>
        <%= link_to 'この問題を削除', {:action => 'destroy', :id => @question.id}, :confirm => '本当に削除してよろしいですか?' %>
      </div>
    <% end %>
    <div id="bookmark_form" style="float:right;">
      <%= render :partial => "bookmark" %>
    </div>
  <% end %>
</div>

<div class="spacer_narrow">&nbsp;</div>

<div id="main_quiz">
<% form_for :question, :url => {:action => 'answer'} do |f| -%>

<div id="question_box_quiz">
<div id="question_text_box">
  <div class="subtitle">問題</div>
  <%= hidden_field_tag "question_id", @question.id %>
  <div class="field"><%=qa @question.question_text %></div>
</div>

<div class="spacer_narrow">&nbsp;</div>

<div id="response_box" <%= "style='height:250px;'" if @question.question_type == 3 %>>
  <div class="subtitle" style="margin-left:-10px;">回答</div>
  <%= hidden_field_tag "question_type", @question.question_type %>
  <% if @question.is_random == true %>
    <% selections = @selections.sort_by{rand} %>
  <% else %>
    <% selections = @selections %>
  <% end %>
  <% if @question.question_type == 1 %>
    <div id="selection_box">
      <% selections.each do |s| %>
        <div class="field">
          <input type="radio" id="answer[<%= s.id %>]" name="answer"
                 value="<%= s.id %>" style="margin-left:-13px;"/><%=qa s.selection_text %>
        </div>
      <% end %>
    </div>
    <script language="javascript">
      time = window.setInterval("submit_disabled_check();",1);
    </script>
  <% elsif @question.question_type == 2 %>
    <div id="selection_box">
      <% selections.each do |s| %>
        <div class="field">
          <input type="checkbox" id="answer[<%= s.id %>]" name="answer[<%= s.id %>]"
                 value="<%= s.id %>" style="margin-left:-17px;"/> <%=qa s.selection_text %>
        </div>
      <% end %>
    </div>
    <script language="javascript">
      time = window.setInterval("submit_disabled_select();",1);
    </script>
  <% elsif @question.question_type == 3 %>
    <div id="selection_box">
      <div class="marufield">
        <%= link_to_remote(image_tag("maru.jpg", :style => 'border: none;',
                                            :onmouseover=>"this.src='../images/maru_on.jpg'",
                                            :onmouseout=>"this.src='../images/maru.jpg'"),
                          :url=>{:action => 'answer',
                                 :question_id => @question.id,
                                 :question_type => @question.question_type,
                                 :answer => 1},
                          :update => 'container') %>
      </div>
      <div class="batufield">
        <%= link_to_remote(image_tag("batu.jpg", :style => 'border: none;',
                                            :onmouseover=>"this.src='../images/batu_on.jpg'",
                                            :onmouseout=>"this.src='../images/batu.jpg'"),
                          :url=>{:action => 'answer',
                                 :question_id => @question.id,
                                 :question_type => @question.question_type,
                                 :answer => 0},
                          :update => 'container') %>
      </div>
    </div>
  <% else %>
    <div id="answer_box">
      <input id="answer" name="answer" type="text" size="30"/>
    </div>
    <script language="javascript">
      time = window.setInterval("submit_disabled_text();",1);
    </script>
  <% end %>
</div>

<div class="spacer_narrow">&nbsp;</div>

<div id="submit_box" <%= "style='display:none;'" if @question.question_type == 3 %>>
  <%= submit_tag("回答する",:id => 'submit', :class => 'button',:disabled => true) %>
</div>

<div id="report">
-<%= link_to '不適切な問題を通報する', :action => 'report', :id => @question.id %>-
</div>

</div>
<% end -%>

  <div id="question_information_box_quiz">
    <div class="subtitle">分類</div>
    <div class="subsubtitle">カテゴリ</div>
    <div class="field"><%=link_to(h(@question.category.name),
                              {:controller => 'search',
                               :action => 'category',
                               :id => @question.category.id},
                              :class => "tag") %></div>
    <div class="subsubtitle">タグ</div>
    <div class="field">
      <% if @question.tag_list.size > 0 %>
        <% @question.tag_list.map do |t| %>
          <%= link_to(h(t), { :controller => :search, :action => :tag, :id => t }, :class => "tag") %>
        <% end %>
      <% else %>
        -
      <% end %>
    </div>
    <div class="subsubtitle">作成者</div>
    <div class="field">
      <% if user = User.find(:first, :conditions=> ["id = ?",@question.user_id]) %>
        <%= link_to(h(user.login), { :controller => :search, :action => :users_question, :id => user.login }, :class => "tag") %>
      <% else %>
        -
      <% end %>
    </div>

    <div class="subsubtitle">情報</div>
    <div class="field">
      みんなの正答率 <%= @right_answer_rate %>
      <div style="float:right;"><span style="color: blue; font-weight: bold;">出</span>: <%= @question_count %></div>
      <div style="clear:both;float:right;"><span style="color: green; font-weight: bold;">○</span>: <%= @correct_count %></div>
      <div style="clear:both;float:right;"><span style="color: red; font-weight: bold;">×</span>: <%= @wrong_count %></div>
    </div>

    <div class="book_and_test">
      -<%= link_to "この問題を含むブックを検索する", :controller => 'search', :action => 'search_book', :id => @question.id %>-<br/>
      -<%= link_to "この問題を含むテストを検索する", :controller => 'search', :action => 'search_exam', :id => @question.id %>-
    </div>
  </div>
</div>