
<%= stylesheet_link_tag "style_import_mypage" %>
<div id="screen_title">
  <%=h current_user.login %> さんのマイページ
  <span id="show_result">
    <%= image_tag('/images/chart_bar.png', :style => 'vertical-align: middle;') %>
    <%= link_to('成績を見る', :action => 'result') %>
  </span>
  <span id="show_result">
    <%= image_tag('/images/bookmarks.png', :style => 'vertical-align: middle;') %>
    <%= link_to('付箋を貼った問題一覧', :controller => 'bookmarks') %>
  </span>

</div>

<div id="main">

<div id="mybook">
  <div class="subtitle">
    マイブック<span class="your_content">（★･･･あなたのブック）</span>
    <div class="add_book">
      <%= image_tag('/images/book_add.png', :style => 'vertical-align: middle;') %>
      <%= link_to('ブックの新規作成', :controller => 'books', :action => 'new') %>
    </div>
  </div>
  <div class="subcontent">
    <ul>
      <li class="book_text">
        <% if book = Book.find(:first, :conditions => ['user_id = ? and name = "自分で登録した問題"', current_user.id]) %>
          <%= image_tag('/images/book.png',
                     :style => 'vertical-align: middle;') %>
          <span style="font-weight: bold;"><%= link_to(truncate(erase_tag(book.name), 45), book) %></span>
          <span class="red">★</span>
          <span style="color: silver; font-size: 8pt;">
            <%= book.updated_at.strftime("%Y/%m/%d %H:%M:%S 更新") %>
          </span>
        <% end %>
      </li>
      <% for mybook in @mybooks %>
      <% book = Book.find(mybook.book_id) %>
      <li class="book_text">
        <%= image_tag('/images/book.png',
                        :style => 'vertical-align: middle;') %>
        <span <%= "style='font-weight: bold;'" if book.name == "自分で登録した問題" %>><%= link_to(truncate(erase_tag(book.name), 45), book) %></span>
        <% if book.user_id == current_user.id %>
          <span class="red">★</span>
        <% end %>
        <span style="color: silver; font-size: 8pt;">
        <%= book.updated_at.strftime("%Y/%m/%d %H:%M:%S 更新") %>
        <% if book.name != "自分で登録した問題"%>
          <% if book.user_id == current_user.id && book.name != "自分で登録した問題" %>
            <%= link_to(image_tag('/images/book_edit.png',
                              :title => '編集',
                              :style => 'border: none;'),
                     edit_book_path(book)) %>
          <% end %>
          <%= link_to(image_tag('/images/book_delete.png',
                            :title => '削除',
                            :style => 'border: none;'),
                   book,
                   :confirm => '本当に削除してよろしいですか?',
                   :method => :delete) %>
        <% end %>
        <% if book.user_id != current_user.id %>
          <% if user = User.find(:first, :conditions =>["id = ?",book.user_id]) %>
            <span style="margin-left:5px;color: black">(作成者：<%= user.login %>)</span>
          <% else %>
            <span style="margin-left:5px;color: black">(作成者：-)</span>
          <% end %>
        <% end %>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="mytest">
  <div class="subtitle">
    マイテスト<span class="your_content">（★･･･あなたのテスト）</span>
  </div>
  <div class="subcontent">
    <ul>
      <% for myexam in @myexams %>
      <% exam = Exam.find(myexam.exam_id) %>
      <li class="book_text">
        <%= image_tag('/images/exam.png',
                        :style => 'vertical-align: middle;') %>
                        
        <%= link_to(truncate(erase_tag(exam.name), 45), exam) %>
        <% if exam.user_id == current_user.id %>
          <span class="red">★</span>
        <% end %>
        <span style="color: silver; font-size: 8pt;">
        <%= exam.updated_at.strftime("%Y/%m/%d %H:%M:%S 更新") %>
        <% if exam.user_id == current_user.id %>
          <%= link_to(image_tag('/images/exam_edit.png',
                            :title => '編集',
                            :style => 'border: none;'),
                   edit_exam_path(exam)) %>
        <% end %>
        <%= link_to(image_tag('/images/exam_delete.png',
                          :title => '削除',
                          :style => 'border: none;'),
                 exam,
                 :confirm => '本当に削除してよろしいですか?',
                 :method => :delete) %>
        <% if exam.user_id != current_user.id %>
          <% if user = User.find(:first, :conditions =>["id = ?",exam.user_id]) %>
            <span style="margin-left:5px;color: black">(作成者：<%= user.login %>)</span>
          <% else %>
            <span style="margin-left:5px;color: black">(作成者：-)</span>
          <% end %>
        <% end %>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="latest">
  <div class="subtitle">
    最近登録した問題
    <div class="question_add_and_search">
        <%= image_tag('/images/page_add.png', :style => 'vertical-align: middle;') %>
        <%= link_to("問題の登録", {:controller => "qa", :action => "new"}) %>
    </div>
  </div>
  <div class="subcontent">
    <div id="question_list">
      <ul>
        <% @questions.each do |q| %>
          <li class="question_text"><%= image_tag('/images/quiz.png', :style => 'vertical-align: middle;') %>
            <a href="/quiz/<%=q.id%>" title = "<%=h q.question_text %>" ><%=truncate(erase_tag(q.question_text), 45)%></a>
            <div class="tags">
              タグ：
              <% q.tag_list.map do |t| %>
                <%= link_to(t, { :controller => :search, :action => :tag, :id => t }, :class => "tag") %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="recent">
  <div class="subtitle">
    最近解答した問題
  </div>
  <div class="subcontent">
    <div id="book_list">
      <ul>
        <% @histories.each do |h| %>
          <li class="question_text">
            <% if h.correct_or_wrong == true %>
              <span class="red">○</span>
            <% else %>
              <span class="blue">×</span>
            <% end %>
            <% q = Question.find(h.question_id) %>
            <a href="/quiz/<%=q.id%>" title = "<%=h q.question_text %>"><%=truncate(erase_tag(q.question_text), 45)%></a>
            <% if h.answer_mode == 1 %>
              <span style="color: blue; font-size: 8pt;">(training)</span>
            <% elsif h.answer_mode == 2 %>
              <span style="color: orangered; font-size: 8pt;">(test)</span>
            <% end %>
            <span style="color: silver; font-size: 8pt;">
              <%= h.created_at.strftime("回答日 %Y/%m/%d %H:%M:%S") %>
            </span>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="spacer_narrow" style="clear: both;">&nbsp;</div>

</div>

