
<%= stylesheet_link_tag "style_import_mypage" %>
<div id="screen_title">
  <%=h current_user.login %> さんのマイページ
</div>

<div id="main">

<!-- カテゴリ一覧 -->
<div id="category">
  <div class="subtitle">カテゴリ一覧</div>
  <div class="subcontent">
    <div id="category_list">
      <% @categories.each do |category| %>
      <span class="category"><%=link_to(category.name,
                        :controller => 'search',
                        :action => 'category',
:id => category.id) %></span>
      <% end %>
    </div>
  </div>
</div>

<div class="spacer_narrow" style="clear: both;">&nbsp;</div>

<!-- マイブック -->
<div id="mybook">
  <div class="subtitle">
    マイブック
    <div class="add_book">
      <%= image_tag('/images/book_add.png', :style => 'vertical-align: middle;') %>
      <%= link_to('ブックの新規作成', :controller => 'books', :action => 'new') %>
    </div>
  </div>
  <div class="subcontent">
    <ul>
      <% for book in @books %>
      <li class="book_text">
        <%= image_tag('/images/book.png',
                        :style => 'vertical-align: middle;') %>
                        
        <span <%= "style='font-weight: bold;'" if book.name == "自分で登録した問題" %>><%= link_to(book.name, book) %></span>
        <span style="color: silver; font-size: 8pt;">
        <%= book.updated_at.strftime("%Y/%m/%d %H:%M:%S 更新") %>
        <% if book.user_id == current_user.id && book.name != "自分で登録した問題"%>
          <%= link_to(image_tag('/images/book_edit.png',
                            :title => '編集',
                            :style => 'border: none;'),
                   edit_book_path(book)) %>
          <%= link_to(image_tag('/images/book_delete.png',
                            :title => '削除',
                            :style => 'border: none;'),
                   book,
                   :confirm => '本当に削除してよろしいですか?',
                   :method => :delete) %>
        <% end %>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- マイテスト -->
<div id="mytest">
  <div class="subtitle">
    マイテスト<%= @seq %>
  </div>
  <div class="test_subcontent">
    <ul>
      <% for exam in @exams %>
      <li class="book_text">
        <%= image_tag('/images/book.png',
                        :style => 'vertical-align: middle;') %>
                        
        <%= link_to(exam.name, exam) %>
        <span style="color: silver; font-size: 8pt;">
        <%= exam.updated_at.strftime("%Y/%m/%d %H:%M:%S 更新") %>
        <% if exam.user_id == current_user.id %>
          <%= link_to(image_tag('/images/book_edit.png',
                            :title => '編集',
                            :style => 'border: none;'),
                   edit_exam_path(exam)) %>
          <%= link_to(image_tag('/images/book_delete.png',
                            :title => '削除',
                            :style => 'border: none;'),
                   exam,
                   :confirm => '本当に削除してよろしいですか?',
                   :method => :delete) %>
        <% end %>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="spacer_narrow" style="clear: both;">&nbsp;</div>

<!-- 最近登録した問題 -->
<div id="latest">
  <div class="subtitle">
    最近登録した問題
    <div class="question_add_and_search">
        <%= image_tag('/images/page_add.png', :style => 'vertical-align: middle;') %>
        <%= link_to("問題の登録", {:controller => "qa", :action => "new"}) %>
    </div>
  </div>
  <div class="subcontent">
    <div id="book_list">
      <ul>
        <% @questions.each do |q| %>
          <li class="question_text"><%= image_tag('/images/quiz.png', :style => 'vertical-align: middle;') %>
            <a href="/quiz/<%=q.id%>"><%=truncate(erase_tag(q.question_text), 45)%></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

</div>

<!-- サイドバー -->
<div id="side">
  <div id="tag_cloud">
    <div class="subtitle">タグクラウド</div>
    <div class="subcontent">
    <% @tags = Question.tag_counts %>
      <% tag_cloud(@tags, ['tag-x-small', 'tag-small', 'tag-medium', 'tag-large', 'tag-x-large']) do |tag, css_class| %>
      <%= link_to(tag.name, { :controller => :search, :action => :tag, :id => tag.name }, :class => css_class) %>
    <% end %>
    </div>
  </div>
</div>

