<link rel="stylesheet" type="text/css" href="/YUI/tabview/assets/tabview.css">
<link rel="stylesheet" type="text/css" href="/YUI/tabview/assets/border_tabs.css">
<script type="text/javascript" src="/YUI/yahoo/yahoo.js"></script>
<script type="text/javascript" src="/YUI/event/event.js"></script>
<script type="text/javascript" src="/YUI/dom/dom.js"></script>
<script type="text/javascript" src="/YUI/element/element.js"></script>
<script type="text/javascript" src="/YUI/tabview/tabview.js"></script>

<script type="text/javascript">
YAHOO.example.init = function() {
var tabView = new YAHOO.widget.TabView('settings');
};
YAHOO.example.init();
</script>

<style type="text/css">
<!--
#yuidemo01 {
width:500px; /* 幅の指定 */
}
a{text-decoration:none;}
#yuidemo01 .yui-content {
padding:5px;
}
-->
</style>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= stylesheet_link_tag "style_import_mypage" %>
<div id="screen_title">
  <%=h current_user.login %> さんの成績
</div>
<div id="settings" class="yui-navset">
  <ul class="yui-nav">
    <li class="selected"><a href="#tab1">問題回答数</a></li>
    <li><a href="#tab2">問題作成数</a></li>
    <li><a href="#tab3">タグ毎の成績</a></li>
  </ul>
  <div class="yui-content">
    <div id="tab1">
      <div id="bar_chart">
        <%= @graph_a %>
      </div>
    </div>
    <div id="tab2">
      <div id="bar_chart">
        <%= @graph_c %>
      </div>
    </div>
    <div id="tab3" class="subcontent">
      <ul id="histories_by_tags">
        <% @histories_by_tags.each do |h| %>
        <li>
          <%= image_tag "tag_blue.png" %><%=h h[0] %>
          <span class="count">正解数：<font color="#ff0033"><%= h[2] %></font>
                              回答数：<font color="#0066CC"><%= h[1] %></font></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="spacer_narrow">&nbsp;</div>

<div id="navi">
  <%= link_to 'マイページへ', :controller => 'mypage' %>
</div>