<%= stylesheet_link_tag "style_exam_detail" %>
<script language="javascript">
  function time_limit_config() {
    if(document.getElementById("time_limit_config").checked) {
      document.getElementById("exam_time_limit").disabled = false;
    } else {
      document.getElementById("exam_time_limit").disabled = true;
    }
  }
</script>
<div id="screen_title">テストの新規作成</div>
<div id="message"></div>
<div id="main">
  <% remote_form_for @exam,:url => {:action => 'create',:id => @book.id} do |f| %>
    <div id="form">
      <%= f.error_messages %>
      <div class="field">
        <%= f.label "テスト名" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= check_box_tag "time_limit_config",value = 1, checked = true%>
        <%= f.label "制限時間を設ける"%><br />
        <%= f.text_field :time_limit %>秒
      </div>
      <div class="field">
        <%= f.label "合格ライン" %><br />
        <%= f.text_field :border_line %>%
      </div>
      <div class="field">
        <%= f.label "公開可否" %><br />
        <%= f.radio_button(:is_public, 1) %>：公開
        <%= f.radio_button(:is_public, 2) %>：非公開
      </div>
      <div class="field">
        <%= f.label "注意事項" %><br />
        <%= f.text_area :notes, :style => 'height: 10em;' %>
      </div>
    </div>
    <div id="this_exam_questions">
      <h2 class="subtitle">問題一覧</h2>
      <ul class="question_list">
      <% @questions.each do |question| %>
        <li class="question_text">
          <%= image_tag('/images/quiz.png', :style => 'border: none') %>
          <%= truncate(h(question.question_text), 40) %>
        </li>
      <% end %>
      </ul>
    </div>
    <div id="submit_box">
      <%= f.submit "作成する"  %>
    </div>
  <% end %>
</div>
<script language="javascript">
  timeID = window.setInterval("time_limit_config();",1);
</script>