<%= stylesheet_link_tag "style_exam_detail" %>
<script language="javascript">
  function mypage() {
    location.href="../../";
  }
</script>
<div id="screen_title">テストの新規作成</div>
<div id="message"></div>
<div style="fontcolor:red"><%= flash[:notice] %></div>
<div id="main">
  <% remote_form_for @exam,:url => {:action => 'create',:id => @book.id} do |f| %>
    <div id="form">
      <%= f.error_messages %>
      <div class="field">
        <%= f.label "テスト名" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label "制限時間" %><br />
        <%= f.text_field :time_limit %>秒
      </div>
      <div class="field">
        <%= f.label "合格ライン" %><br />
        <%= f.text_field :border_line %>%
      </div>
      <div class="field">
        <%= f.label "公開可否" %><br />
        <%= f.radio_button(:is_public, 1) %>：公開
        <%= f.radio_button(:is_public, 2) %>：非公開
      </div>
      <div class="field">
        <%= f.label "注意事項" %><br />
        <%= f.text_area :notes, :style => 'height: 10em;' %>
      </div>
    </div>
    <div id="this_exam_questions">
      <h2 class="subtitle">問題一覧</h2>
      <ul class="question_list">
      <% @book.questions.each do |question| %>
        <li class="question_text">
          <%= image_tag('/images/quiz.png', :style => 'border: none') %>
          <%= truncate(erase_tag(question.question_text), 40) %>
        </li>
      <% end %>
      </ul>
    </div>
    <div id="submit_box">
      <%= f.submit "作成する"  %>
    </div>
  <% end %>
</div>
